.about-us{
    box-sizing: border-box;
    display: block;

    position: absolute;
    width: 1166px;
    height: 552px;
    left: calc(50% - 1166px/2);
    top: 2190px;
    
    background: radial-gradient(114.87% 113.36% at 40.95% -10.45%, #FFFFFF 32.81%, #F8FDFF 97.64%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
    border-radius: 28px;
}
.about-us-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 36px;
    gap: 8px;
    
    position: absolute;
    width: 309px;
    height: 60px;
    left: 568px;
    top: 462px;
    
    background: var(--gradient);
    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}
.about-us-button-p{
    width: 237px;
    height: 24px;
    font-family: var( --body-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
    color: #FFFFFF;
}

.about-us-button-header{
    position: absolute;
    width: 485px;
    height: 40px;
    left: calc(50% - 485px/2 + 0.5px);
    top: 56px;
    
    font-family: var( --body-font);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 125% */
    text-align: center;
    
    // background: linear-gradient(98.64deg, #0179B4 6.59%, #88D8FF 47.82%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}

.about-us-button-header  span {
    color: var( --first-color);
}

.about-us-button-text{

    position: absolute;
    width: 46%;
    height: 240px;
    left: 568px;
    top: 136px;
    
    font-family: var( --body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* or 150% */
    
    /* Neutrals/500 */
    color: var(--other-color);
}
.about-us-button-text p {
    margin-top: 10px;
}


.about-us-button-image{
    box-sizing: border-box;
    position: absolute;
    width: 448px;
    height: 380px;
    left: 64px;
    top: 140px;
    border-radius: 20px;
}

.about-us-button span {
    width: 100%;
    font-size: var( --small-font-size);
    color: #F8FDFF;
}


@media (max-width : 480px){
    .about-us{
        box-sizing: border-box;
        position: relative;
        width: 97%;
        height: 1091px;
        left: 2px;
        margin-left: 5px;
        margin-top: -2080px;
        background:  #ffffff;
        box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
        border-radius: 28px;
    }
    
    /* Frame 2 */
    .about-us-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 18px 36px;
        /* gap: 8px; */
        position: absolute;
        width: 269px;
        height: 60px;
        left: calc(50% - 134.5px - 0.5px);
        top: 999px;
        background: var(--gradient);
        box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
    }
    .about-us-button p{
        /* Learn more about us */

        width: 205px;
        height: 24px;
        
        font-family: var( --body-font);
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 2;
        /* identical to box height, or 120% */
        
        /* Neutrals/900 */
        color: var(--other-color);
    }
    .about-us-button-header{
        position: absolute;
        width: 90%;
        height: 80px;
        left: calc(50% - 191.5px + 0.5px);
        top: 56px;
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    
    
    
    .about-us-button-text{
        position: absolute;
        width: 80%;
        height: 480px;
        left: calc(50% - 163.5px + 0.5px);
        top: 431px;
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        color: var(--other-color);
    }
    
    
    .about-us-button-image{
        box-sizing: border-box;
        position: absolute;
        width: 80%;
        height: 215px;
        left: calc(50% - 165px);
        top: 176px;
        border-radius: 20px;
    }
}
@media(min-width: 481px) and (max-width: 880px) {
    .about-us-button-header {
        width: 80%;
        height: 80px;
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-left: -36px;
        text-align: center;
    }
    .about-us {
        display: flex;
        box-sizing: border-box;
        position: relative;
        width: 90%;
        height: 1080px;
        margin-top: -2080px;
        margin-left: 36px;
        left: 2px;
        background: radial-gradient(114.87% 113.36% at 40.95% -10.45%, #FFFFFF 32.81%, #F8FDFF 97.64%);
        box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
        border-radius: 28px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: stretch;
    }
    .about-us-button-image {
        box-sizing: border-box;
        width: 480px;
        height: 380px;
        display: grid;
        margin-left: 40px;
        top: 176px;
        border-radius: 20px;
    }
    .about-us-button-text {
        position: relative;
        width: 80%;
        height: auto;
        left: calc(50% - 263.5px + 0.5px);
        top: 601px;
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        color: var(--other-color);
    }
    .about-us-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 18px 36px;
        gap: 8px;
        position: absolute;
        width: 369px;
        height: 60px;
        left: calc(50% - 194.5px - 0.5px);
        top: 972px;
        background:var(--gradient);
        box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
    }
}


.about-us-how {
    position: relative;
    width: 1101px;
    height: 640px;
    /* left: 181px; */
    /* border: 1px solid; */
    top: 980px;
    display: contents;
}

.about-us-how-h1 {
    height: auto;
    position: relative;
    top: 900px;
    /* left: calc(50% - 203px); */
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* right: 70px; */
    line-height: 52px;
    text-align: center;
    color: var(--other-color);
}
.about-us-how-h1 span{
    color: var(--first-color);
}

.about-us-how-para {
    position: relative;
    width: 90%;
    margin-left: 78px;
    height: auto;
    display: flex;
    top: 930px;
    justify-content: center;
    align-items: stretch;
    /* margin: 40px; */
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color: var(--other-color);
    flex-wrap: wrap;
    align-content: space-around;
}

.about-us-how-guide-1{
    position: relative;
    width: 33%;
    height: auto;
    left: 190px;
    top: 1064px;
}

.about-us-how-guide-1 span {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 70px;
    top: 6px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #3D3D3D;
}

.about-us-how-guide-1 p {
position: relative;
width: 76%;
height: auto;
left: 72px;
top: 56px;
font-family: var( --body-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: var( --other-color);
}

.about-us-how-guide-1 svg {
/* Frame 22 */

position: absolute;
width: 52px;
height: 52px;
left: 0px;
top: 0px;

background: var(--gradient);
    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
border-radius: 100px;
}

.about-us-how-guide-2 {
    position: relative;
    width: 33%;
    height: auto;
    left: 190px;
    top: 1154px;
}
.about-us-how-guide-2 span{
    /* Choose Your Service */

    position: absolute;
    width: 100%;
    height: 40px;
    left: 70px;
    top: 6px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #3D3D3D;

}
.about-us-how-guide-2 p {
    position: relative;
    width: 76%;
    height: auto;
    left: 72px;
    top: 56px;
    font-family: var( --body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var( --other-color);
}
.about-us-how-guide-2 svg {
    /* Frame 23 */

    position: absolute;
    width: 52px;
    height: 52px;
    left: 0px;
    top: 0px;

    background: var(--gradient);
    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
}


.about-us-how-guide-3 {
    position: relative;
    width: 33%;
    height: auto;
    top: 1234px;
    left: 190px;
}
.about-us-how-guide-3 span{
/* Meet Your Doctor */
position: absolute;
width: 100%;
height: 40px;
left: 70px;
top: 6px;
font-family: "Manrope";
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #3D3D3D;


}
.about-us-how-guide-3 p {
    /* Have a virtual consultation with one of our certified specialists, or go for a physical visit to the doctor in case you opted for a physical check-up. */

    position: relative;
    width: 76%;
    height: auto;
    left: 72px;
    top: 56px;

    font-family: var( --body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    /* Neutrals/500 */
    color: var( --other-color);

}
.about-us-how-guide-3 svg {

    /* Frame 24 */

    position: absolute;
    width: 52px;
    height: 52px;
    left: 0px;
    top: 0px;

    background: var(--gradient);
    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
}

@media (max-width: 480px){
    .about-us-how {
        top: 3780px;
        display: contents;
    }
    
    .about-us-how-h1 {
        height: auto;
        position: relative;
        top: 2300px;
        /* left: calc(50% - 203px); */
        font-family: var(--body-font);
        font-style: normal;
        /* margin-left: -370px; */
        font-size: 28px;
        width: 90%;
        margin-left: 82px;
    }
    .about-us-how-h1 span{
        color: var(--first-color);
    }
    
    .about-us-how-para {
        position: relative;
        width: 86%;
        /* margin-left: -220px; */
        height: auto;
        /* display: flex; */
        top: 2320px;
        margin-left: 30px;
        justify-content: center;
        align-items: stretch;
        /* margin: 40px; */
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 2;
        text-align: left;
        color: var(--other-color);
        flex-wrap: wrap;
    }
    .about-us-how-guide-1{
        position: relative;
        width: 100%;
        height: auto;
        left: 40px;
        top: 2363px;
    }
    .about-us-how-guide-2 {
        position: relative;
        width: 100%;
        height: auto;
        left: 40px;
        top: 2434px;
    }
    .about-us-how-guide-3 {
        position: relative;
        width: 100%;
        height: auto;
        left: 40px;
        top: 2505px;
    }
    .about-us-how-guide-1 span {
        width: 80%;
        font-size: 26px;
    }
    .about-us-how-guide-2 span {
        width: 80%;
        font-size: 26px;
    }
    .about-us-how-guide-3 span {
        width: 80%;
        font-size: 26px;
    }
    
}

@media (min-width:481px) and (max-width:880px){
    .about-us-how {
        top: 2780px;
        display: contents;
        height: auto;
    }
    
    .about-us-how-h1 {
        height: auto;
        position: relative;
        top: 2300px;
        /* left: calc(50% - 203px); */
        font-family: var(--body-font);
        font-style: normal;
        margin-left: 80px;
        font-weight: 700;
        font-size: 32px;
        width: 100%;
        /* align-items: center; */
        right: 70px;
        line-height: 52px;
        text-align: center;
        color: var(--other-color);
    }
    .about-us-how-h1 span{
        color: var(--first-color);
    }
    
    .about-us-how-para {
        position: relative;
        width: 75%;
        margin-left: 100px;
        height: auto;
        display: flex;
        top: 2320px;
        justify-content: center;
        align-items: stretch;
        /* margin: 40px; */
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 2;
        text-align: left;
        color: var(--other-color);
        flex-wrap: wrap;
        align-content: space-around;
    }

    .about-us-how-guide-1{
        position: relative;
        width: 80%;
        height: auto;
        left: 90px;
        top: 2434px;
    }
    .about-us-how-guide-2 {
        position: relative;
        width: 80%;
        height: auto;
        left: 90px;
        top: 2534px;
    }
    .about-us-how-guide-3 {
        position: relative;
        width: 80%;
        height: auto;
        left: 90px;
        top: 2505px;
    }
    .about-us-how-guide-1 span {
        width: 80%;
        font-size: 26px;
    }
    .about-us-how-guide-2 span {
        width: 80%;
        font-size: 26px;
    }
    .about-us-how-guide-3 span {
        width: 80%;
        font-size: 26px;
    }

}


.about-us-team{
    position: relative;
    width: 40%;
    display: flex;
    height: auto;
    left: 730px;
    top: 878px;

}

.about-us-team img{
    position: absolute;
    width: 368px;
    height: auto;
    /* top: 29px; */
    bottom: 40px;
    left: 101px;
}


.about-us-team-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    gap: 12px;
    position: absolute;
    width: 349px;
    height: 44px;
    /* left: 1016px; */
    border: 1px solid #00008091;
    left: 257px;
    bottom: 72px;
    /* top: 06px; */
    background: #FFFFFF;
    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.about-us-team-p svg {
/* Frame 5 */

width: 28px;
height: 28px;

/* Primary Blues/200 */
background: #CACAD7;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.about-us-team-p span {

    width: 261px;
    height: 20px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    
    /* Primary Blues/700 */
    color: var(--first-color);
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}


// /* Vector */

// position: absolute;
// width: 18px;
// height: 16px;
// left: calc(50% - 18px/2);
// top: calc(50% - 16px/2);

// /* Primary Blues/700 */
// background: var(--first-color);


/* Best Certified Team of Specialists */
