
.service-group {
  position: relative;
  width: 970px;
  height: 576px;
  top: 190px;
  display: flex;
  gap: 10px;
  left: 230px;
}

/* Top services we offer */
.service-top {
  position: relative;
  width: fit-content;
  height: 52px;
  left: calc(50% - 203px);
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: var(--other-color);
}

.service-top span {
  color: var(--first-color); /* Assuming --first-color is defined elsewhere */
}

.service-p {
  position: absolute;
  width: 80%;
  margin-left: 140px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* margin: 40px; */
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: var(--other-color);
  flex-wrap: wrap;
  align-content: space-around;
}

.online-cons,
.booking-app,
.Med-notes,
.prescrip,
.Med-relieve {
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
}

.online-cons {
  position: absolute;
  width: 567px;
  height: 280px;
  left: 0;
  top: 0;
}

.booking-app {
  position: absolute;
  width: 370px;
  height: 280px;
  left: 597px;
  top: 0;
}

.Med-notes {
  position: absolute;
  width: 300px;
  height: 260px;
  left: 0;
  top: 296px;
}

.prescrip {
  position: absolute;
  width: 300px;
  height: 260px;
  left: 334px;
  top: 296px;
}

.Med-relieve {
  position: absolute;
  width: 300px;
  height: 260px;
  left: 667px;
  top: 296px;
}

.online-cons-icon,
.booking-app-icon,
.Med-notes-icon,
.prescrip-icon,
.Med-relieve-icon {
  width: 44px;
  height: 44px;
  background: #D6FFDD;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.online-cons-tittle,
.booking-app-tittle,
.Med-notes-tittle,
.prescrip-tittle,
.Med-relieve-tittle {
  font-family: var(--body-font);
  font-weight: 700;
  color: var(--first-color);
  margin-top: 20px;
  position: absolute;
  top: 100px;
  left: 40px;
}

.online-cons-tittle,
.prescrip-tittle,
.Med-relieve-tittle {
  font-size: 18px;
}

.booking-app-tittle,
.Med-notes-tittle {
  font-size: 20px;
}

.online-cons-para,
.booking-app-para,
.Med-notes-para,
.prescrip-para,
.Med-relieve-para {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 14px;
  width: 80%;
  line-height: 2;
  color: var(--other-color);
  margin-top: 20px;
  position: absolute;
  top: 136px;
  left: 40px;
}

// Media query for mobile devices
// Media query for mobile devices
@media only screen and (max-width: 480px) {
  .service-group {
    position: static;
    margin-top: 200px;
    width: auto;
    height: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    left: auto;
  }

.service-top{
  display: flow;
  margin-top: 100px;
  width: 90%;
  height: auto;
  margin-left: 20px;
  align-content: center;
}
  .service-p {
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;
    height: auto;
    text-align: left;
  }
  

  .online-cons,
  .booking-app,
  .Med-notes,
  .prescrip,
  .Med-relieve {
    width: 90%;
    max-width: 90%;
    margin: 0.5rem 0;
    padding: 1rem;
    height: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    position: static;
    top: auto;
    left: auto;
  }

  .online-cons,
  .booking-app,
  .Med-notes,
  .prescrip,
  .Med-relieve,
  .online-cons-icon,
  .booking-app-icon,
  .Med-notes-icon,
  .prescrip-icon,
  .Med-relieve-icon,
  .online-cons-tittle,
  .booking-app-tittle,
  .Med-notes-tittle,
  .prescrip-tittle,
  .Med-relieve-tittle,
  .online-cons-para,
  .booking-app-para,
  .Med-notes-para,
  .prescrip-para,
  .Med-relieve-para {
    position: static;
    top: auto;
    left: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 890px) {
  .service-group {
    position: static;
    margin-top: 180px;
    width: auto;
    height: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    left: auto;
  }

.service-top{
  margin-top: 80px;
  width: 90%;
  font-size: 32px;
  left: unset;
  margin-bottom: 10px;
}
  .service-p {
    position: absolute;
    /* width: 80%; */
    margin-left: 80px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: normal;
    height: auto;
    /* margin: 40px; */
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    text-align: left;
    color: #3c2d2d;
    flex-wrap: wrap;
    align-content: center;
 
  }
  

  .online-cons,
  .booking-app,
  .Med-notes,
  .prescrip,
  .Med-relieve {
    width: 70%;
    max-width: 90%;
    margin: 0.5rem 0;
    padding: 1rem;
    /* gap: 20px; */
    height: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    position: static;
    top: auto;

  }

  .online-cons,
  .booking-app,
  .Med-notes,
  .prescrip,
  .Med-relieve,
  .online-cons-icon,
  .booking-app-icon,
  .Med-notes-icon,
  .prescrip-icon,
  .Med-relieve-icon,
  .online-cons-tittle,
  .booking-app-tittle,
  .Med-notes-tittle,
  .prescrip-tittle,
  .Med-relieve-tittle,
  .online-cons-para,
  .booking-app-para,
  .Med-notes-para,
  .prescrip-para,
  .Med-relieve-para {
    position: static;
    top: auto;
    left: auto;
  }
}
