/* footer */

position: absolute;
width: 1506px;
height: 432px;
left: calc(50% - 1506px/2);
bottom: 0px;

background: rgba(38, 227, 91, 0.1);


/* Group 32 */

position: absolute;
width: 269px;
height: 48px;
left: 100px;
top: 258px;



/* Experience personalized medical care from the comfort of your home. */

position: absolute;
width: 269px;
height: 48px;
left: 100px;
top: 258px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Group 24 */

position: absolute;
width: 140px;
height: 228px;
left: 527px;
top: 72px;



/* Support */

position: absolute;
width: 64px;
height: 24px;
left: 527px;
top: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Primary Blues/500 (Base) */
color: rgba(15, 195, 108, 0.8);



/* Getting Started */

position: absolute;
width: 117px;
height: 24px;
left: 527px;
top: 116px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* FAQS */

position: absolute;
width: 40px;
height: 24px;
left: 527px;
top: 156px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Help Articles */

position: absolute;
width: 95px;
height: 24px;
left: 527px;
top: 196px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Report an issue */

position: absolute;
width: 117px;
height: 24px;
left: 527px;
top: 236px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Contact Help Desk */

position: absolute;
width: 140px;
height: 24px;
left: 527px;
top: 276px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Group 25 */

position: absolute;
width: 170px;
height: 228px;
left: 852px;
top: 72px;



/* Services */

position: absolute;
width: 68px;
height: 24px;
left: 852px;
top: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Primary Blues/500 (Base) */
color: rgba(15, 195, 108, 0.8);



/* Booking appointments */

position: absolute;
width: 170px;
height: 24px;
left: 852px;
top: 116px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Online consultations */

position: absolute;
width: 156px;
height: 24px;
left: 852px;
top: 156px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Prescriptions */

position: absolute;
width: 101px;
height: 24px;
left: 852px;
top: 196px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Medicine Refills */

position: absolute;
width: 118px;
height: 24px;
left: 852px;
top: 236px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Medical Notes */

position: absolute;
width: 107px;
height: 24px;
left: 852px;
top: 276px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Group 26 */

position: absolute;
width: 147px;
height: 228px;
left: 1207px;
top: 72px;



/* Legal */

position: absolute;
width: 42px;
height: 24px;
left: 1207px;
top: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Primary Blues/500 (Base) */
color: rgba(15, 195, 108, 0.8);



/* Terms & Conditions */

position: absolute;
width: 146px;
height: 24px;
left: 1207px;
top: 116px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Privacy Policy */

position: absolute;
width: 102px;
height: 24px;
left: 1207px;
top: 156px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Cookie Notice */

position: absolute;
width: 106px;
height: 24px;
left: 1207px;
top: 196px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Cookie Preferences */

position: absolute;
width: 147px;
height: 24px;
left: 1207px;
top: 236px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* Trust Center */

position: absolute;
width: 95px;
height: 24px;
left: 1207px;
top: 276px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutrals/500 */
color: #6D6D6D;



/* mdi:youtube */

position: absolute;
width: 32px;
height: 32px;
left: 232px;
top: 376px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

/* Primary Blues/500 (Base) */
background: rgba(15, 195, 108, 0.8);


/* mdi:linkedin */

position: absolute;
width: 32px;
height: 32px;
left: 188px;
top: 376px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary Blues/500 (Base) */
background: rgba(15, 195, 108, 0.8);


/* mdi:instagram */

position: absolute;
width: 32px;
height: 32px;
left: 144px;
top: 376px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary Blues/500 (Base) */
background: rgba(15, 195, 108, 0.8);


/* ic:baseline-facebook */

position: absolute;
width: 32px;
height: 32px;
left: 100px;
top: 376px;



/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 9.38%;
bottom: 9.38%;

/* Primary Blues/500 (Base) */
background: rgba(15, 195, 108, 0.8);


/* Line 1 */

position: absolute;
width: 1306.01px;
height: 0px;
left: calc(50% - 1306.01px/2 + 3px);
top: 357px;

/* Primary Blues/200 */
border: 2px solid #B6FFC6;


/* HealNet 2024 © All Rights Reserved */

position: absolute;
width: 271px;
height: 24px;
left: 995px;
top: 380px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: right;

/* Neutrals/300 */
color: #B0B0B0;



/* Group 31 */

position: absolute;
width: 217px;
height: 150px;
left: 103px;
top: 72px;



/* Group 2 */

position: absolute;
left: 6.84%;
right: 87.25%;
top: 16.67%;
bottom: 63.56%;



/* Vector */

position: absolute;
left: 0%;
right: 62.22%;
top: 23.91%;
bottom: 39.13%;

/* Primary Blues/500 (Base) */
background: rgba(15, 195, 108, 0.8);


/* Vector */

position: absolute;
left: 0%;
right: 62.22%;
top: 60.87%;
bottom: 0%;

/* Primary Blues/800 */
background: #000080d3;


/* Vector */

position: absolute;
left: 37.78%;
right: 24.44%;
top: 60.87%;
bottom: 0%;

/* Primary Blues/950 */
background: #000080d3;


/* Vector */

position: absolute;
left: 42.22%;
right: 0%;
top: 0%;
bottom: 43.48%;

/* Primary Blues/600 */
background: #000080d3;


/* Healer */

position: absolute;
left: 6.84%;
right: 78.75%;
top: 36.34%;
bottom: 48.61%;

font-family: 'Angkor';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 76px;

/* New */
background: linear-gradient(180deg, rgba(0, 244, 98, 0.24) 25%, rgba(18, 156, 80, 0.65) 41.54%, rgba(5, 64, 39, 0.79) 56.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

