/*******************************/
/********* General CSS *********/
/*******************************/

html {
  scroll-behavior: smooth;
}

body {
  color: #444444;
  font-weight: 400;
  background: #ffffff;
  font-family: 'Barlow', sans-serif;
  margin: 0 auto;
}